.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }
  
  .product_detial__img {
    max-width: 65%;
    border-radius: 5%;
    box-shadow: var(--img-box-shadow);
    margin: 1rem;
  }
  
  .product_detail__titulo {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: oblique;
    padding-top: 5px;
  }
  
  .product_detail__subt {
    font-size: 1rem;
    font-weight: normal;
    font-style: oblique;
    padding-top: 5px;
  }
  
  .product_detail__res {
    font-size: 0.9rem;
    font-weight: normal;
    font-style: normal;
    padding-top: 5px;
  }
  
  .product_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(50% - 20px);
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .btn__container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  
  .btn__carrito {
    background-color: var(--btn-cart-color);
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }